<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Don't rewrite if the request is already for the public directory
    RewriteCond %{REQUEST_URI} !^/pointofsell/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>